absl-py==1.1.0
astor==0.8.0
astunparse==1.6.3
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
charset-normalizer==2.1.0
Click==7.0
Flask==1.1.1
flatbuffers==1.12
gast==0.2.2
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
grpcio==1.47.0
h5py==3.7.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
json5==0.8.5
keras==2.9.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
libclang==14.0.1
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.23.0
oauthlib==3.1.0
opt-einsum==3.1.0
packaging==21.3
Pillow==9.2.0
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pyparsing==3.0.9
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
scipy==1.8.1
six==1.12.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.0.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
typing_extensions==4.3.0
urllib3==1.25.6
Werkzeug==1.0.1
wrapt==1.11.2
